{% extends "base.html" %}
{% load static %}

{% block title %}
	Modification du mot de passe reussit
{% endblock title %}

{% block content %}



<section class="section-conten padding-y" style="min-height:84vh">

<!-- ============================ COMPONENT LOGIN   ================================= -->
	<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
      <div class="card-body">
      <h4 class="card-title mb-4"></h4>


 


      <form action="">
          <div id="message" class="container">
          <div class="alert alert-success text-center" role="alert">
              <p> Votre mot de passe a été modifié avec succès </p>

              <br>
              
          <div class="form-group">
              <a href="{% url 'accounts:login' %}" > Se connecter  </a>
          </div> <!-- form-group// -->
          </div>
          </div>    
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->


     <br><br>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->





	
{% endblock content %}