{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}



<section class="section-conten padding-y background-color:yellow;" style="min-height:10vh">
  

  <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
      <div class="card-body">
        <h4>{% trans "Password Reset" %}</h4>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p style="display:none;">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

       {% if form.errors %}

      <div class="alert alert-danger" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
          <p class="text-center"> <small>Cette adresse email n'est associée à aucun compte. </small></p>
      </div>
      {% endif %}



        <div>
            <br>
        </div>
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}

        <div class="form-group">
          <div class="input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
              </div>

              {{ form.email }}

          </div>
          <!-- input-group.// -->
      </div>


        <br>
        <input type="submit" value="{% trans 'Reset My Password' %}" class="text-center btn btn-primary" />
    </form>

    <p style="display:none;">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

    <p class="text-center mt-4">
        <small><a href="{% url 'account_login' %}">Se connecter</a></small>
    </p>

    </div>
</section>
{% endblock %}
