{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Set Password" %}{% endblock %}

{% block content %}

<section class="section-conten padding-y " style="min-height:10vh">
  

  <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
      <div class="card-body">
      <h4 class="card-title mb-4">{% trans "Set Password" %}</h4>


    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>


  </div>
</div>

</section>


{% endblock %}
