{% extends "base.html" %}

{% load static %}

{% block title %}
	Changement de mot de passe reussit
{% endblock title %}

{% block content %}


<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
   <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
 

            <div class="alert alert-success" role="alert">
                    
                   <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true"></span></button>
                   <p class="text-center">
                      Votre mot de passe a été changé avec succès.
                   </p>

                   <small></small>

                   <p class="text-center text-muted">
                      
                   <small>Veuillez vous connecter  <a href="{% url 'accounts:login' %}">ici</a> </small>

                   </p>
            </div>

   </div>


</section>
{% endblock content %}