{% extends "base.html" %}
{% load static %}

{% block title %}
    Réinitialiser mot de passe
{% endblock title %}

{% block content %}
	


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div class="card-body">
            <h4 class="card-title mb-4 text-center">Réinitialisation de votre mot de passe</h4>


            {% if form.errors %}

            <div class="alert alert-danger" role="alert">                    

                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                <p class="text-center">
                   <small>Cette adresse email n'est associée à aucun compte.</small>
                </p>

            </div>

           {% endif %}


            <form action="{% url 'password_reset' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        {{ form.email }}

                    </div>
                    <!-- input-group.// -->
                </div>
                <!-- form-group// -->


                <div class="form-group">
                    <a href="{% url 'accounts:login' %}" class="float-right">Se connecter?</a>
                    <label class="float-left custom-control custom-checkbox" style="opacity:0;"> <input type="checkbox" class="custom-control-input" checked="" style="display: none;"> <div class="custom-control-label">  </div> </label>
                </div>
                <!-- form-group form-check .// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Confirmer</button>
                </div>
                <!-- form-group// -->
            </form>
        </div>
        <!-- card-body.// -->
    </div>
    <!-- card .// -->

    <p class="text-center mt-4">Pas de compte? <a href="{% url 'accounts:register' %}">S'inscrire</a></p>
    <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock content %}